#clue{
    background-image: url("images/image2.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
}
.modal.show  {
    display:flex!important;
    flex-direction:column;
    justify-content:center;
    align-content:center;
    align-items: flex-start;
  }
  #end{
      position: absolute;
      top:900px;
      left: 500px;
  }
#q1{
    position:absolute;
    top: 100px;
    left: 400px;
}
#q2{
    position:absolute;
    top: 410px;
    left: 260px;
}  
#q3{
    position:absolute;
    top: 400px;
    left: 800px;
}
#q4{
    position:absolute;
    top: 400px;
    left: 1400px;
}
#q5{
    position:absolute;
    top: 150px;
    left: 1100px;
}
#q6{
    position:absolute;
    top: 200px;
    left: 800px;
}
#q7{
    position:absolute;
    top: 600px;
    left: 100px;
}
#q8{
    position:absolute;
    top: 600px;
    left: 700px;
}
#q9{
    position:absolute;
    top: 500px;
    left: 1100px;
}
.butt{
    background-color: transparent; 
    border:transparent;
    height:50px;
    width: 100px;
}
#myVideo {
    position: fixed;
    background-repeat: no-repeat;
    background-size: cover;
}
table, tr, td {
    border: 1px solid black;
}